@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {
  font-family: New Montreal;
  src: url('../../NeueMontrealBold.otf') format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul{
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  margin:0;
  padding:0;
  margin:0.2rem;
}
li{
  font-weight: normal;
  color:rgba(85, 85, 85, 0.756)
}
h1{
  margin:0;
}

.aboutMeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
  margin:0 auto;
  color:#555
}
.background{
  background-color: #5a6842b6;
  height: auto;
  width: 55%;
  border-radius:39% 61% 27% 73% / 59% 37% 63% 41% ; 
}
.meImage{
  background-size: cover;
  height: auto;
  width: 95%;
  /* margin-left: 1em; */
  border-radius: 39% 61% 78% 22% / 59% 37% 63% 41%  ;
}
.aboutContent{
  display: flex;
  flex-direction: column;
  
}
.name{
  font-size: 6vmin;
  text-align: left;
  color:#323232d0;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
.blurb{
  font-size: 1em;
  text-align: left;
  font-family:'Roboto';
  font-weight: 500;
  color:#555;
  margin:0;
}
.iconFlex{
  display: flex;
}
.icon{
  font-size: 1.8em;
  margin-right: 0.4em;
}
@media screen and (max-width: 600px){
  .aboutMeContainer{
    padding-top: 1.3em;
  }
  .name{
    text-align: center;
  }
  .imageFlex{
    display: flex;
    justify-content: center;
  }
  .blurb{
    text-align: center;
    font-size: 10px
  }
  .techHeading{
    text-align: center;
    margin-bottom: 0;
  }
  .icon{
    font-size: 1em;
  }
}