@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {
  font-family: New Montreal;
  src: url('../../NeueMontrealBold.otf') format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.aboutMeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}
.name{
  font-size: 6vw;
  text-align: left;
  color:#323232d0;
  /* color:rgb(117, 155, 227); */
  font-family:Arial, Helvetica, sans-serif;
  /* font-family: New Montreal; */
}

.background{
  /* background-color: #94ac6eb6; */
  background-color: #5a6842b6;
  /* background-color: #d0c377aa; */
  /* background-color: rgba(124, 126, 123, 0.475); */
  /* background-color: rgba(182, 152, 157, 0.584); */
  height: auto;
  width: 55%;
  border-radius:39% 61% 27% 73% / 59% 37% 63% 41% ; 
}
.me{
  /* background-position-y: -2.9em; */
  background-size: cover;
  height: auto;
  width: 95%;
  /* margin-left: 1em; */
  border-radius: 39% 61% 78% 22% / 59% 37% 63% 41%  ;
}
.blurbContainer{
  font-size: 1.3em;
}
.blurb{
  text-align: left;
  /* font-family: New Montreal; */
  font-family:'Roboto';
  font-weight: 500;
  color:#555;

}
@media screen and (max-width: 600px){

  .imageFlex{
    display: flex;
    justify-content: center;
  }
  .name{
    text-align: center;
  }
  .blurb{
    text-align: center;
    font-size: 0.8em;
  }
}