@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.aboutContainer{
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 54px);
  padding-top: 54px;
  width: 90vw;
  margin:0 auto;
}
.innerContainer{
  display:flex;
  gap:1.4rem;
}
.myselfImage{
  width: 80vw;
  max-width: 350px;
  border-radius: 8px;
}

.aboutContent p{
  line-height: 160%;
  font-size:clamp(14px, 0.8rem,22px);
  max-width: 50ch;
  color:#323232d0;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
.technologies{
  columns:  3;
  padding: 4px;
}
.technologies p{
  font-size:clamp(12px, 1.4vw, 18px);
  font-weight: 600;
  margin:0;
  padding: 0.3rem;
  letter-spacing: 1px;
  color: rgb(64, 123, 233);
  font-family: 'Space Grotesk', sans-serif;
}
.chevronDiv{
  cursor: pointer;
  position: absolute;
  bottom:0;
  align-self: center;
}
@media screen and (min-width:768px) {
  .innerContainer{
    margin:0 auto;
    max-width: 70vw;
  }
  .aboutContent p{
    font-size: clamp(16px,1.8vw, 18px);
  }
  .technologies p{
    font-size: 14px;
  }
}
@media screen and (max-width:768px){
  .aboutContainer{
    height: auto;
  }
  .myselfImage{
    display: block;
    margin:0 auto;
  }
  .aboutContent{
    margin:0 auto;
    max-width: 90vw;

  }
  
  .technologies{
    columns:2;
  }
}
@media screen and (max-width:725px){
  .innerContainer{
    display:block;
  }
}

