@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.aboutContainer{
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100vh - 54px);
  padding-top: 54px;
  width: 90vw;
  margin:0 auto;
}
.innerContainer{
  display:flex;
  gap:1.4rem;
}
.myselfImage{
  width: 90vw;
  max-width: 350px;
  border-radius: 10px;
}
/* .aboutContent{
  width: 70vw;
} */
.aboutContent p{
  font-size:clamp(16px, 1rem,32px);
  color:#323232d0;
}
.technologies{
  columns:  3;
  padding: 4px;
}
.technologies p{
  font-size:clamp(14px, 1.4vw, 28px);
  margin:0;
  padding: 0.3rem;
  color: rgb(64, 123, 233);
  font-family: 'Space Grotesk', sans-serif;
}
.chevronDiv{
  cursor: pointer;
  position: absolute;
  bottom:0;
  align-self: center;
}

@media screen and (max-width:768px){
  .aboutContainer{
    height: auto;
  }
  .innerContainer{
    display:block;
  }
  .myselfImage{
    display: block;
    margin:0 auto;
  }
  .aboutContent{
    margin:0 auto;
  }
  .technologies{
    columns:2;
  }
}
