.contactContainer{
    padding-top: 3.2em;
}
.formContainer{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactTitle{
    font-size: 3vw;
    text-align: center;
    color:#323232d0;
    /* color:rgb(117, 155, 227); */
    font-family:Arial, Helvetica, sans-serif;
}