.contactContainer{
    padding-top: 3.2em;
}
.formContainer{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contactText{
    margin-bottom: 0;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}