.projectContainer{
  padding-top: 4rem;
  width: 90vw;
  margin:0 auto;
}
.projectList{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techList{
  color:cornflowerblue
}
.nameAndLinks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width:600px){
  .projectContainer{
    padding-top: 3.3em;
  }
  .projectList{   
    margin:0 auto;
    width: 90vw;
  }
 
}
