@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.landingContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 85vw;
  margin:0 auto;
  color:#555
}
.greeting{
  font-size: clamp(1rem, 8vw,2rem);
  /* font-size: 1.8rem; */
  color:rgba(85, 85, 85, 0.536);
  margin:0rem;
}
.name{
  font-size: clamp(2.4rem,8vw, 5rem);
  /* font-size: 5rem; */
  text-align: left;
  /* color:rgba(85, 85, 85, 0.913); */
  color:#e1bea9db;
  font-family:Arial, Helvetica, sans-serif;
  margin:0.5rem 0rem 1rem 0rem;
}
.statement{
  color:rgba(85, 85, 85, 0.536);
  margin:0;
  font-size: clamp(1rem,4vw,2.5rem);
  /* font-size:2.6rem; */
  line-height: clamp(1rem,150%, 3.4rem)
}
.chevronDiv{
  position: absolute;
  bottom:0;
  align-self: center;
}

.iconFlex{
  display: flex;
}
.icon{
  font-size: 1.8em;
  margin-right: 0.4em;
}

